body {
		width: calc(100vw - 20px);
		box-sizing: border-box;
		padding: 10px;
    font-size: 10px;
}

.app {
	border: 2px solid gray;
	margin: 0 auto;
	border-radius: 10px;
  background-color: #fff;
}

/* -----------------------------------FORM----------------------------------- */
form,
.contactItem {
	margin: 15px 15px;
	border: 1px solid  #ddd;
	width: calc(100% - 60px);
	height: auto;
	border-radius: 4px;
	padding: 20px;
	border-radius: 10px;
	box-shadow: 3px 3px 4px grey;
}

.contactItem {
  display: flex;
  flex-direction: row;
}
input {
	margin: 1rem 0;
	font-size: 0.7rem;
	font-weight: bold;
}

button {
  background-color: green;
  color: white;
  font-size: 0.8rem;
  margin-left: 5%;
}

/* ---------------------------------CONTACT---------------------------------- */
img {
	max-width: 20%;
	min-width: 10%;
	height: auto;
	display: block;
	margin: 0;
  border: 2px solid #000;
}

p.contactLabel,
a.contactEmail {
	height: 40%;
  min-width: 30%;
  width: 2%;
  font-size: 2ex;
  padding-top: 2%;
  text-align:center;
  text-decoration: none;
}
a.contactEmail {
  margin-top: 15px;
}

/*---------------------------MEDIA QUERY--------------------------------------*/
@media (min-width: 768px) {
	.app {
		width: 70%;
	}
	img {
	max-width: 70%;
	}
}

@media (min-width: 992px) {
	.app {
		width: 70%;
	}
	img {
	width: 70%;
	}
}

@media (min-width: 1200px) {
	.app {
		width: 70%;
	}
	img {
	width: 70%;
	}
}
